#tm_appContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#tm_mainHeader {
  background-color: $tm_primaryColor;
  color: $tm_lightText;
  padding: $tm_baseSpacing;
  text-align: center;

  h1 {
    margin: 0;
    color: $tm_lightText;
  }
}

#tm_mainContent {
  padding: $tm_baseSpacing;
}

#tm_mainFooter {
  background-color: $tm_primaryColor;
  color: $tm_lightText;
  text-align: center;
  padding: $tm_smallSpacing;
}