# Default ignored files
/../../Wimbledon /.idea/shelf/
/../../Wimbledon /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Wimbledon /.idea/httpRequests/
# Datasource local storage ignored files
/../../Wimbledon /.idea/dataSources/
/../../Wimbledon /.idea/dataSources.local.xml
